body {
  font-family: Roboto, Arial;

  background-color: #D1D1D1;
  color: #FFF;

  padding: 1em;
}

.container {
  width: 100%;
  height: 100%;
  background: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
}

.container .col {
  flex: 1;

  height: 100%;
  position: absolute;

  overflow: hidden;
}

.container .col.left {
  width: 65%;
  height: 100%;
  position: absolute;
  left:0;

  background: #FF0000;
}

.container .col.right {
  width: 35%;
  right: 0;

  background: #00FF00;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid .cell {
  flex: 1 0 calc(100% / 3);

  height: calc(100% / 3);

  font-weight: bold;
}

.grid .cell.wide {
  flex: 1 0 calc(100% * (2/3));
}

.grid .cell:not(.wide) .content {
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}

.grid .cell:not(.wide) .content * {
  padding: 0.25em;
  font-size: 1.5em;
}

.grid .cell:not(.wide) .content p {
  text-transform: uppercase;
}

.grid .cell:not(.wide) .content svg {
  font-size: 4em;
}

.grid .cell.wide .content {
  padding: 1em 2em;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blurb h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.blurb * {
  padding: 0.5em 0;
}

.blurb p {
  font-weight: lighter;
}

ul.buttons li {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin: 1em;
  border: 3px solid #FFF;
}

ul.buttons li:first-child {
  margin-left: 0;
}

ul.buttons li * {
  display: inline;
}

ul.buttons li p {
  text-transform: uppercase;
}

ul.images {
  overflow:hidden;
  position: relative;
}

ul.images li {
  display: inline;
  overflow: hidden;
}

ul.images li img {
  width: 100%;
  height: auto;
}

.col.right .image_nav {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  z-index: 10;
  width: 95%;
}

.col.right .image_nav svg {
  font-size: 3em;

  opacity: 0.25;
  transition: opacity 0.25s;
  cursor: pointer;
}

.col.right .image_nav svg:hover {
  opacity: 1;
}

.col.right .image_nav svg:last-child {
  float: right;
}

.col.right .breadcrumbs {
  position: absolute;
  top: 0.5em;
  right: 0.75em;

  z-index: 10;
}

.col.right .breadcrumbs svg {
  font-size: 0.75em;
  opacity: 0.5;
}

.col.right .breadcrumbs svg:first-child {
  opacity: 1;
}

/* COLOR HELPERS */

.blue {
  background: #1e8bc4;
}

.green {
  background: #35bc7a;
}

.red {
  background: #f15a49;
}

.yellow {
  background: #ff9e00;
}

.orange {
  background: #f86925;
}
